<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon Database</title>
  <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Hair Salon Database</h1>
    <p>Client is removed from database</p>
    <p><a href="/stylists/@Model["stylist"].Id" class="btn btn-primary btn-block">Back to stylist</a></p>
    <p><a href="/" class="btn btn-primary btn-block">Home</a></p>
  </div>
</div>
</body>
</html>
