<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon Database</title>
  <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
    <h1>Hair Salon Database</h1>
    <h5>Update @Model["client"].Name @Model["client"].</h5>
    <form action="/stylists/@Model["stylist"].Id/clients/@Model["client"].Id" method="post">
      <label for="newPhone">Phone Number:</label>
      <input type="text" name="newPhone" value="@Model["client"].PhoneNumber" required>
      <label for="newEmail">Email Address:</label>
      <input type="text" name="newEmail" value="@Model["client"].EmailAddress" required>

      <button type="submit">Update</button>
      <p><a href="/stylists/@Model["stylist"].Id/clients/@Model["client"].Id"  class="btn btn-primary btn-block">Cancel</a><p>
    </form>
    <p><a href="/" class="btn btn-primary btn-block">Home</a></p>
  </div>
</div>
</body>
</html>
