<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon Database</title>
  <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Hair Salon Database</h1>
    <h5>Create new client for @Model.Name:</h5>
    <p><form action='/stylists/@Model.Id/clients' method='post'>
      <input id='stylistId' name='stylistId' type='hidden' value='@Model.Id' required>
      <label for="name">First Name: </label>
      <input id="name" name="name" type="text" required>
      <label for="phoneNumber">Phone Number: </label>
      <input id="phoneNumber" name="phoneNumber" type="text" required>
      <label for="emailAddress">Email Address: </label>
      <input id="emailAddress" name="emailAddress" type="text" required>
      <button type="submit" class="btn btn-primary btn-block">Add client</button>
    </form></p>
    <p><a href="/stylists/@Model.Id" class="btn btn-primary btn-block">Return to client list</a></p>
    <a href="/" class="btn btn-primary btn-block">Home</a>
  </div>
</div>
</body>
</html>
