.container {
  padding: 50px;
  padding-top: 60px;
  background-color: lightblue;
  color: magenta;
  margin: auto;
  width: 100%;
  margin-top: 20px;
  visibility: visible;


}


h1{
  color:blue;
}

/* a, button[type=submit] {
     background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;

}

a, button[type=submit]:hover {
  background-color: #555;
}

a, button[type=submit]:active {
   background-color: black;
}

a, button[type=submit]:visited {
  background-color: #ccc; */

/* .button, button[type=submit] {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  } */
/* article {
  color: white;
  float: left;
  padding: 0px;
  width: 70%;
  height: 300px;

} */

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
