<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon Database</title>
  <link rel="shortcut icon" type="image/png" href="/nbfav.ico"/>
</head>
<body>
  <div>
    <h1>Welcome to the Hair Salon Database</h1>
    <p><a href="/stylists">View stylists</a></p>
  </div>
</body>
</html>
