<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon Database</title>
  <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
    <h1>Welcome to the Hair Salon Database</h1>
    <p><a href="/stylists" class="btn btn-primary btn-block">View stylists</a></p>
    <p><a href="/salons" class="btn btn-primary btn-block">View salons</a></
    </div>
  </div>
</body>
</html>
